/* Font */
@font-face { font-family: Roboto Condensed; src: url('RobotoCondensed-Bold.ttf'); }
@font-face { font-family: Note this; src: url('Note_this.ttf'); }

/*
 * Base CSS
 */
body {
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    padding: 0;
    font: 12px Tahoma,Helvetica,Arial,"宋体",sans-serif;
}

/* unvisited link */
a:link {
    color: #FF0000;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #FF0000;
}
/* mouse over link */
a:hover {
    color: #a40000;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: #a40000;
}

/*
 * Main Frame
 */
div.mainFrame {
    width: 100%;
    height: 100%;
    background-color: #FDFDFD;
    overflow: hidden;
}

/*
 * Title Bar
 */
div.mainTitleBar {
    position: relative;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #F1F1F1;
}
div.WebPageName {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    font-family: Note this;
    font-size: 36px;
    text-shadow: 1px 1px 5px #FF0000;
}

/*
 * User login logo and links
 */
div.UserInfo {
	float: right;
	margin-left: 15px;
	font-family: Roboto Condensed;
    font-size: 22px;
}
img.UserInfoIcon {
	margin-top: 11px;
	height: 40px;
	weight: 40px;
}
div.UserInfo#UserInfoSignIn {
	margin-top: 16px;
	margin-right: 50px;
}
div.UserInfo#UserInfoSignUp {
	margin-top: 16px;
}
/** Hyperlink style for UserInfo elements */
div.UserInfo#UserInfoSignIn:hover, div.UserInfo#UserInfoSignUp:hover {
    text-decoration: underline;
    cursor:pointer;
}

/*
 * Navigation
 */
div.mainNavigation {
    position: relative;
    width: 100%;
    height: 46px;
    background-color: #FAFAFA;
    text-align: center;
}

div.mainNavigationBox1 {
    float: left;
    margin-top: 5px;
}
div.mainNavigationBox1#mainNavigationPrevButton {
    margin-left: 240px;
    margin-right: 6px;
}

div.mainNavigationBox2 {
    float: right;
    margin-top: 5px;
    margin-right: 6px;
}
div.mainNavigationBox2#mainNavigationDayButton {
    margin-right: 80px;
}
.mainNavigationButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddcfa), color-stop(1, #80b5ea));
    background:-moz-linear-gradient(top, #bddcfa 5%, #80b5ea 100%);
    background:-webkit-linear-gradient(top, #bddcfa 5%, #80b5ea 100%);
    background:-o-linear-gradient(top, #bddcfa 5%, #80b5ea 100%);
    background:-ms-linear-gradient(top, #bddcfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddcfa 5%, #80b5ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddcfa', endColorstr='#80b5ea',GradientType=0);
    background-color:#bddcfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:8px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.mainNavigationButton:link {
	color: #000000;
}
.mainNavigationButton:visited {
    color: #000000;
}
.mainNavigationButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddcfa));
    background:-moz-linear-gradient(top, #80b5ea 5%, #bddcfa 100%);
    background:-webkit-linear-gradient(top, #80b5ea 5%, #bddcfa 100%);
    background:-o-linear-gradient(top, #80b5ea 5%, #bddcfa 100%);
    background:-ms-linear-gradient(top, #80b5ea 5%, #bddcfa 100%);
    background:linear-gradient(to bottom, #80b5ea 5%, #bddcfa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddcfa',GradientType=0);
    background-color:#80b5ea;
    
    text-decoration: none;
    color: #000000;
}
.mainNavigationButton:active {
    position:relative;
    top:1px;
}

div.mainNavigationBox1#mainNavigationYearName {
	margin:5px 20px 0 15px;
	
    text-align: center;
    font-size: 28px;
    font-family: Roboto Condensed;
}

/*
 * mainContentAndTable
 */
div.mainContentAndTable {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
}

/*
 * Left Content
 */
div.mainLeftContent {
    float: left;
    width: 180px;
    height: 100%;
    margin-right: -100%; /* Allow left content have a static width */
}

/*
 * Calendar Table Wrap
 */
div.mainCalendarTableWrap {
	float: left;
	margin-left: 180px;
}

/*
 * Calendar Table
 */
div.mainCalendarTable {
    width: 100%;
    height: 100%;
}

div.lineHead {
    top: 0px;
    height: 25px;
}
.normalLine {
	/* TODO: line setting. Currently, this class just be used as css collector path */
}

/*
 * Calendar Table Base Style
 */
table, td .CalendarTableBaseStyle {
    border-collapse: collapse;
    text-align: left;
}
/*
 * Head line style
 */
.lineHead td.columnBaseStyle {
	width: 13vw;
    border: 0px;
    border-collapse: collapse;
}
/*
 * Normal line style
 */
.normalLine td.columnBaseStyle {
    width: 13vw;
    border: 1px #EEEEEE solid;
    border-collapse: collapse;
    
	text-align: left;
	vertical-align: top;
	
	font-family: Roboto Condensed;
}
/*
 * Other month day
 */
.normalLine td.oMonth {
	background-color: #70E1FF;
}

hr {
    border: 1px;
    border-top: 1px solid #EEEEEE;
    margin: 0;
    padding: 0;
}

/*
 * Footer
 */
div.mainFooter {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: #F1F1F1;
    text-align: left;
}
div.mainFooterLeftText {
    float: left;
    margin-top: 6px;
    margin-left: 6px;
}
div.mainFooterRightText {
    float: right;
    margin-top:  6px;
    margin-right: 6px;
}

/*
 * For Debug
 */
/*
div {
    border: 0px dashed #73AD21;
}
div.mainLeftContent {
    background-color: #EC8E77;
}
div.mainCalendarTable {
    background-color: #FFCCFF;
}
*/