/*
 * Base CSS
 */
body {
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
    padding: 0;
    font: 12px Tahoma,Helvetica,Arial,"宋体",sans-serif;
}

/*
 * Main Frame
 */
div.mainFrame {
    width: 100%;
    height: 100%;
    background-color: #FDFDFD;
    overflow: hidden;
}

/*
 * Title Bar
 */
div.mainTitleBar {
    position: relative;
    top: 0px;
    width: 100%;
    height: 60px;
    background-color: #F1F1F1;
}
div.WebPageName {
    float: left;
    margin-left: 40px;
    margin-top: 10px;
    font-family:JennaSue46271;
    font-size: 28px;
}

/*
 * Navigation
 */
div.mainNavigation {
    position: relative;
    width: 100%;
    height: 46px;
    background-color: #FAFAFA;
    text-align: center;
}

div.mainNavigationBox1 {
    float: left;
    margin-top: 5px;
}
div.mainNavigationBox1#mainNavigationPrevButton {
    margin-left: 240px;
    margin-right: 6px;
}

div.mainNavigationBox2 {
    float: right;
    margin-top: 5px;
    margin-right: 6px;
}
div.mainNavigationBox2#mainNavigationDayButton {
    margin-right: 80px;
}
.mainNavigationButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddcfa), color-stop(1, #80b5ea));
    background:-moz-linear-gradient(top, #bddcfa 5%, #80b5ea 100%);
    background:-webkit-linear-gradient(top, #bddcfa 5%, #80b5ea 100%);
    background:-o-linear-gradient(top, #bddcfa 5%, #80b5ea 100%);
    background:-ms-linear-gradient(top, #bddcfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddcfa 5%, #80b5ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddcfa', endColorstr='#80b5ea',GradientType=0);
    background-color:#bddcfa;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #84bbf3;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:8px 20px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.mainNavigationButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddcfa));
    background:-moz-linear-gradient(top, #80b5ea 5%, #bddcfa 100%);
    background:-webkit-linear-gradient(top, #80b5ea 5%, #bddcfa 100%);
    background:-o-linear-gradient(top, #80b5ea 5%, #bddcfa 100%);
    background:-ms-linear-gradient(top, #80b5ea 5%, #bddcfa 100%);
    background:linear-gradient(to bottom, #80b5ea 5%, #bddcfa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddcfa',GradientType=0);
    background-color:#80b5ea;
}
.mainNavigationButton:active {
    position:relative;
    top:1px;
}

/*
 * mainContentAndTable
 */
div.mainContentAndTable {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
}

/*
 * Left Content
 */
div.mainLeftContent {
    float: left;
    width: 180px;
    height: 100%;
}
/*
 * Calendar Table
 */
div.mainCalendarTable {
    width: 100%;
    height: 100%;
}

div.lineHead {
    top: 0px;
    height: 25px;
}
div.normalLine {
    height: 20%;
}

/*
 * Calendar Table Base Style
 */
table, td .CalendarTableBaseStyle {
    border: 1px #EEEEEE solid;
    border-collapse: collapse;
    text-align: left;
    height: 100%
}
td.columnBaseStyle {
    width: 13vw;
    border: 1px #EEEEEE solid;
    border-collapse: collapse;
}

hr {
    border: 1px;
    border-top: 1px solid #EEEEEE;
    margin: 0;
    padding: 0;
}

/*
 * Footer
 */
div.mainFooter {
    position: fixed;
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: #F1F1F1;
    text-align: left;
}
div.mainFooterLeftText {
    float: left;
    margin-top: 6px;
    margin-left: 6px;
}
div.mainFooterRightText {
    float: right;
    margin-top:  6px;
    margin-right: 6px;
}

/*
 * For Debug
 */
div {
    border: 0px dashed #73AD21;
}
div.mainLeftContent {
    background-color: #EC8E77;
}
div.mainCalendarTable {
    background-color: #FFCCFF;
}